# Diabetes Prediction Using Neural Network

### Import necessary library/modules

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn import metrics

### Read the dataset

In [2]:
diabetes = pd.read_csv("Diabetes.csv")

In [3]:
diabetes

      6  148  72  35    0  33.6  0.627  50  1
0     1   85  66  29    0  26.6  0.351  31  0
1     8  183  64   0    0  23.3  0.672  32  1
2     1   89  66  23   94  28.1  0.167  21  0
3     0  137  40  35  168  43.1  2.288  33  1
4     5  116  74   0    0  25.6  0.201  30  0
..   ..  ...  ..  ..  ...   ...    ...  .. ..
762  10  101  76  48  180  32.9  0.171  63  0
763   2  122  70  27    0  36.8  0.340  27  0
764   5  121  72  23  112  26.2  0.245  30  0
765   1  126  60   0    0  30.1  0.349  47  1
766   1   93  70  31    0  30.4  0.315  23  0

[767 rows x 9 columns]

### Split dataset into input and target

In [4]:
inputs = diabetes.iloc[0:, 0:8]
target = diabetes.iloc[0:, 8:9]

In [5]:
inputs

      6  148  72  35    0  33.6  0.627  50
0     1   85  66  29    0  26.6  0.351  31
1     8  183  64   0    0  23.3  0.672  32
2     1   89  66  23   94  28.1  0.167  21
3     0  137  40  35  168  43.1  2.288  33
4     5  116  74   0    0  25.6  0.201  30
..   ..  ...  ..  ..  ...   ...    ...  ..
762  10  101  76  48  180  32.9  0.171  63
763   2  122  70  27    0  36.8  0.340  27
764   5  121  72  23  112  26.2  0.245  30
765   1  126  60   0    0  30.1  0.349  47
766   1   93  70  31    0  30.4  0.315  23

[767 rows x 8 columns]

In [6]:
target

     1
0    0
1    1
2    0
3    1
4    0
..  ..
762  0
763  0
764  0
765  1
766  0

[767 rows x 1 columns]

### Construct NN model

In [7]:
model = Sequential()
model.add(Dense(32, input_dim = 8, activation = 'relu')) # first hidden layer
model.add(Dense(16, activation = 'relu')) # second hidden layer
model.add(Dense(8, activation = 'relu')) # third hidden layer
model.add(Dense(1, activation = 'sigmoid')) # output layer
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])

### Train the model

In [8]:
model.fit(inputs, target, epochs = 1000, batch_size = 10, verbose = 0)

### Make prediction with the model

In [9]:
predictions = model.predict(inputs)
pred_round = []
for e in predictions:
    pred_round.append(np.round(e))

### Display actual and predicted values

In [10]:
print("Actual output: ", *np.array(target))
print("\nRounded predicted output: ", *pred_round)

Actual output:  [0] [1] [0] [1] [0] [1] [0] [1] [1] [0] [1] [0] [1] [1] [1] [1] [1] [0] [1] [0] [0] [1] [1] [1] [1] [1] [0] [0] [0] [0] [1] [0] [0] [0] [0] [0] [1] [1] [1] [0] [0] [0] [1] [0] [1] [0] [0] [1] [0] [0] [0] [0] [1] [0] [0] [1] [0] [0] [0] [0] [1] [0] [0] [1] [0] [1] [0] [0] [0] [1] [0] [1] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [0] [1] [0] [0] [0] [1] [0] [0] [0] [0] [1] [0] [0] [0] [0] [0] [1] [1] [0] [0] [0] [0] [0] [0] [0] [0] [1] [1] [1] [0] [0] [1] [1] [1] [0] [0] [0] [1] [0] [0] [0] [1] [1] [0] [0] [1] [1] [1] [1] [1] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [0] [0] [0] [0] [1] [0] [1] [1] [0] [0] [0] [1] [0] [0] [0] [0] [1] [1] [0] [0] [0] [0] [1] [1] [0] [0] [0] [1] [0] [1] [0] [1] [0] [0] [0] [0] [0] [1] [1] [1] [1] [1] [0] [0] [1] [1] [0] [1] [0] [1] [1] [1] [0] [0] [0] [0] [0] [0] [1] [1] [0] [1] [0] [0] [0] [1] [1] [1] [1] [0] [1] [1] [1] [1] [0] [0] [0] [0] [0] [1] [0] [0] [1] [1] [0] [0] [0] [1] [1] [1] [1] [0] [0] [0] [1] [1] [0] [1] [0] [0] [0] [0] [0] [0] [0] [0] [1] [1] [0] [0] [0] [1] [0] [1] [0] [0] [1] [0] [1] [0] [0] [1] [1] [0] [0] [0] [0] [0] [1] [0] [0] [0] [1] [0] [0] [1] [1] [0] [0] [1] [0] [0] [0] [1] [1] [1] [0] [0] [1] [0] [1] [0] [1] [1] [0] [1] [0] [0] [1] [0] [1] [1] [0] [0] [1] [0] [1] [0] [0] [1] [0] [1] [0] [1] [1] [1] [0] [0] [1] [0] [1] [0] [0] [0] [1] [0] [0] [0] [0] [1] [1] [1] [0] [0] [0] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [0] [1] [1] [1] [0] [1] [1] [0] [0] [1] [0] [0] [1] [0] [0] [1] [1] [0] [0] [0] [0] [1] [0] [0] [1] [0] [0] [0] [0] [0] [0] [0] [1] [1] [1] [0] [0] [1] [0] [0] [1] [0] [0] [1] [0] [1] [1] [0] [1] [0] [1] [0] [1] [0] [1] [1] [0] [0] [0] [0] [1] [1] [0] [1] [0] [1] [0] [0] [0] [0] [1] [1] [0] [1] [0] [1] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [1] [0] [0] [1] [1] [1] [0] [0] [1] [0] [0] [1] [0] [0] [0] [1] [0] [0] [1] [0] [0] [0] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [1] [0] [0] [0] [1] [1] [0] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [1] [0] [0] [0] [1] [0] [0] [0] [1] [0] [0] [0] [1] [0] [0] [0] [0] [1] [1] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [1] [1] [1] [1] [0] [0] [1] [1] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [1] [1] [0] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [0] [0] [0] [1] [0] [1] [1] [0] [0] [0] [1] [0] [1] [0] [1] [0] [1] [0] [1] [0] [0] [1] [0] [0] [1] [0] [0] [0] [0] [1] [1] [0] [1] [0] [0] [0] [0] [1] [1] [0] [1] [0] [0] [0] [1] [1] [0] [0] [0] [0] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [0] [1] [0] [0] [1] [0] [0] [0] [1] [0] [0] [0] [1] [1] [1] [0] [0] [0] [0] [0] [0] [1] [0] [0] [0] [1] [0] [1] [1] [1] [1] [0] [1] [1] [0] [0] [0] [0] [0] [0] [0] [1] [1] [0] [1] [0] [0] [1] [0] [1] [0] [0] [0] [0] [0] [1] [0] [1] [0] [1] [0] [1] [1] [0] [0] [0] [0] [1] [1] [0] [0] [0] [1] [0] [1] [1] [0] [0] [1] [0] [0] [1] [1] [0] [0] [1] [0] [0] [1] [0] [0] [0] [0] [0] [0] [0] [1] [1] [1] [0] [0] [0] [0] [0] [0] [1] [1] [0] [0] [1] [0] [0] [1] [0] [1] [1] [1] [0] [0] [1] [1] [1] [0] [1] [0] [1] [0] [1] [0] [0] [0] [0] [1] [0]

Rounded predicted output:  [0.] [1.] [0.] [1.] [0.] [1.] [0.] [1.] [1.] [0.] [1.] [0.] [1.] [1.] [1.] [1.] [1.] [0.] [1.] [0.] [0.] [1.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [1.] [0.] [1.] [0.] [1.] [0.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [1.] [1.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [1.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [1.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [1.] [0.] [0.] [0.] [1.] [1.] [1.] [1.] [0.] [1.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [1.] [1.] [1.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [1.] [0.] [1.] [0.] [1.] [1.] [0.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [1.] [0.] [0.] [1.] [0.] [1.] [0.] [0.] [1.] [1.] [0.] [0.] [1.] [0.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [0.] [1.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [1.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [1.] [1.] [0.] [1.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [1.] [1.] [0.] [0.] [0.] [1.] [0.] [1.] [0.] [1.] [0.] [1.] [0.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [1.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [1.] [0.] [1.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [0.] [1.] [0.] [1.] [1.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [0.] [1.] [0.] [1.] [1.] [0.] [0.] [1.] [0.] [0.] [1.] [1.] [0.] [0.] [1.] [0.] [0.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [1.] [0.] [0.] [0.] [0.] [0.] [0.] [1.] [1.] [0.] [0.] [1.] [0.] [0.] [1.] [0.] [1.] [0.] [1.] [0.] [0.] [1.] [0.] [1.] [0.] [1.] [0.] [1.] [0.] [1.] [0.] [0.] [0.] [0.] [1.] [0.]

In [11]:
trueFalse = list(np.array(target, dtype = float) == pred_round)

In [12]:
trueFalse.count(True)

711

In [13]:
trueFalse.count(False)

56

In [14]:
print(f"Accuracy: {metrics.accuracy_score(target, pred_round)}")
print(f"Recall: {metrics.recall_score(target, pred_round)}")
print(f"Precision: {metrics.precision_score(target, pred_round)}")
print(f"F1-score: {metrics.f1_score(target, pred_round)}")

Accuracy: 0.9269882659713168
Recall: 0.8202247191011236
Precision: 0.9647577092511013
F1-score: 0.8866396761133603